@import "tailwindcss";

@theme {
	--color-accent-400: ##ffdd59;
	--color-accent-500: ##ffd32a;
	--color-accent-600: ##ffc048;
}

.tech-grid {
	background-image:
		linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
	background-size: 40px 40px;
}

.glass-panel {
	background: rgba(24, 24, 27, 0.6);
	backdrop-filter: blur(12px);
	border: 1px solid rgba(255, 255, 255, 0.08);
}

#services .glass-panel:hover {
	background: rgba(255, 255, 255, 0.1);
}
